*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins',  sans-serif;  
        text-decoration: none; 
        
}

header{
    min-height: 9vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top,brown, black);
} 

header h1{
    font-size: 2.5em;
    color: aliceblue;
}

main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(brown, black);
    color: aliceblue;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 2px 3px inset 0px 4px 4px;  
}

i, a{
    color: aliceblue;
}

main form{
        margin-top: 2%;
        width: 35%;
        height: 75vh;
        background: linear-gradient(to bottom,brown, black);
        border: solid 1px black;
        border-radius: 10px;
        box-shadow: 0px 3px 4px inset 0px 4px 4px;

        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

main form .inputs-container{
    margin-top: 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

main form .inputs-container input {
    width: 90%;
    height: 45px;
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;


    font-size: 16px;
    color: aliceblue;

    box-shadow: 0px 3px 3px inset;
}

main form .inputs-container input:focus {
box-shadow: inset 1px 4px 7px rgb(78, 77, 77);
}

main form .password-container{
    margin-top: 5%;
    width: 100%;
    position: relative;


    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .password-container i {
    color: rgb(49, 49, 49);
    position: absolute;
    right: 8%;
    top: 35%;
    cursor: pointer;
}

main form .password-container #eye{
    display: none;
}

main form .password-info{
    width: 90%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main form .password-info a{
    transition: 0.2s ease-in-out;
}
main form .password-info a:hover{
    color: #0A66C2;
    font-weight: 600;
}

main form button{
    background-color: aliceblue;
    width: 60%;
    height: 40px;
    border:  0;
    outline: 0;
    border-radius: 12px;
    margin-top: 10px;
    font-size:22px;

    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

main form button:hover{
    background-color: brown ;
    color: whitesmoke;
    border: solid 2px black;
}

main form .links-container{
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 10%;

}

main form .links-container span{
    font-size: 0.8em;
    font-weight: 600;
}

main form .links-container aside{
    margin-top: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main form .links-container aside i{
    font-size: 1.6em;
    transform: 0.3s ease-in-out;
    
}

main form .links-container aside .google:hover{
    color:#FF0000;
}
main form .links-container aside .linkedin:hover{
    color: #0A66C2;
}
main form .links-container aside .facebook:hover{
    color: #1877F2;
}

main form footer{
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form footer hr{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
}

main form footer span{
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 5%;
}

main form footer a{
    color: #1877F2;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
main form footer a:hover{
    color: #0A66C2;
}